.navList {
    display: flex;
}

.navList:hover {
    background-color: blue;
}

/*
.scss로 사용하려면 node-sass를 설치필요 but 너무 무거움 

.navList {
    display: flex;
    &hover {
    background-color: blue;
    }
}
*/